<head>

  <link rel="stylesheet" href="css/pop-up.css" type="text/css">
</head>

<article class="overlay">
  <section class="pop-up-main" id="pop-up-avail">
    <h3 id="pop-up-avail-heading">Change availability</h3>
    <label for="startInput">Start Date:</label>
    <input type="date" required id="startInput" />
    <label for="endInput">End Date:</label>
    <input type="date" required id="endInput" />
    <label for="hourInput">Hours:</label>
    <input type="number" min=1 required id="hourInput" />
    <button id="cancelButton">Cancel</button>
    <button id="acceptButton">Accept</button>
  </section>
</article>

<script>

  function buttonHandler () {

  }
</script>