<link rel="stylesheet" href="css/pop-up.css" type="text/css">

<dialog class="overlay" id="availability-pop-up">
  <section class="pop-up-main">
    <article class="close-container">
      <h3 class="pop-up-avail-heading">Change Availability</h3>
      <h3 class="pop-up-avail-heading"><a href="#" class="close-pop-up">&#10005;</a></h3>
    </article>
    <form action="/availibility/update" method="post">
      <input type="text" name="developerId" id="developerId" hidden />
      <h3>Availabile?</h3>
      <article class="input-label-pair left">
        <input type="radio" id="available" name="available" value="true"/>
        <label for="available">Yes</label>
      </article>
      <article class="input-label-pair left">
        <input type="radio" id="not-available" name="available" value="false"/>
        <label for="not-available">No</label>
      </article>
      <button id="acceptButton">Submit</button>
    </form>
  </section>
</dialog>