<head>

  <link rel="stylesheet" href="css/pop-up.css" type="text/css">
</head>

<article class="overlay">
  <section class="pop-up-main">
    <img src="images/error.svg" alt="error cross" />
    <h1 class="pop-up-heading" id="fail-pop-up">
      Sorry!
    </h1>
    <h5 class="pop-up-label">
      <%=myLabel%>
    </h5>
    <button id="fail-button">Okay</button>
  </section>
</article>