
<link rel="stylesheet" href="css/pop-up.css" type="text/css">
<dialog class="overlay" id="fail-pop-up">
  <section class="pop-up-main">
    <img src="images/error.svg" alt="error cross" />
    <h1 class="pop-up-heading" id="fail-pop-up">
      Sorry!
    </h1>
    <h5 class="pop-up-label">
      <%=message%>
    </h5>
    <form action="/handlePopUp" method="GET">
      <input type="hidden" name="redirect_url" value="<%=redirect_url%>">
      <button type="submit" id="fail-button">Okay</button>
    </form>
  </section>
</dialog>