<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Security-Policy"
    content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
  <link rel="stylesheet" href="css/global.css">
  <script src="js/popup.js"></script>
  <title>
    <%= title %>
  </title>
</head>
<body>
    <%- include('nav',{title: title, username: username, showNav: showNav})%> 