<header>
  <details>
    <summary>Username</summary>
    <button>Log-out</button>
  </details>
  <h1 class="MainHeading">Rent a Dev</h1>
  <nav>
    <a href="#Devs">View available devs</a>
    <a href="/approveRequests">View my request status</a>
    <a href="/viewRequests">View my team requests</a>
    <a href="#Devs">Manage my devs</a>
  </nav>
</header>