
<link rel="stylesheet" href="css/pop-up.css" type="text/css">

<dialog id="success-pop-up" class="overlay">
  <section class="pop-up-main">
    <img src="images/success.svg" alt="Successful tick" />
    <h1 class="pop-up-heading" id="success-pop-up">
      Successful!
    </h1>
    <h5 class="pop-up-label">
      <%=message%>
    </h5>
    <form action="/handlePopUp" method="GET">
      <input type="hidden" name="redirect_url" value="<%=redirect_url%>">
      <button type="submit" id="success-button">Okay</button>
    </form>
  </section>
</dialog>
