
<link rel="stylesheet" href="css/pop-up.css" type="text/css">

<article class="overlay">
  <section class="pop-up-main">
    <img src="images/success.svg" alt="Successful tick" />
    <h1 class="pop-up-heading" id="success-pop-up">
      Successful!
    </h1>
    <h5 class="pop-up-label">
      <%=myLabel%>
    </h5>
    <button id="success-button" onclick="buttonHandler()">Okay</button>
  </section>
</article>
