header {
  top: 0rem;
  left: 0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #264E70;
  width: 100%;
}

.MainHeading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: auto;
  line-height: 5rem;
  text-align: center;
  margin: 1rem;
  color: #FDEBD3;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

@media (min-width: 900px) {
  nav {
    flex-direction: row;
  }

  .MainHeading {
    font-size: 5rem;
    margin: auto;
  }
}


nav a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0 1rem;

  text-decoration: none;
  color: white;
}

header details {
  margin-left: auto;
}

.currentLink {
  color: #F9B4AB;
}