.overlay {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.29);
}

.overlay:target {
  visibility: visible;
}

form {
  display: flex;
  flex-direction: column;
}

.input-label-pair {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.input-label-pair.left {
  justify-content: flex-start;
}

.pop-up-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  border-radius: 1rem;
  gap: 1.5rem;

  background: #FDEBD3;
}

#pop-up-avail {
  flex-direction: row;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;

  @media screen and (max-width: 64rem) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.pop-up-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
  padding-top: 0;
}

#success-pop-up {
  color: #264E70;
}

#fail-pop-up {
  color: #F9B4AB;
}

.pop-up-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  margin: 0rem;
  color: #000000;

}

#success-button {
  background: #264E70;
  color: white;
  font-size: 1rem;
}

#fail-button {
  background: #F9B4AB;
  color: white;
  font-size: 1rem;
}

input {
  border-radius: 1rem;
  padding: 0.5rem;
  width: 7rem;
}

input[type=radio] {
  width: auto;
}

input:invalid {
  border-color: red;
}

#pop-up-avail-heading {
  margin-top: 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 2rem;
  color: #264E70;

  @media screen and (max-width: 64rem) {
    flex-basis: 0;
  }
}

#cancelButton {
  background-color: white;
  color: #000000;
  font-size: 1rem;
}

#acceptButton {
  background-color: #264E70;
  color: white;
  font-size: 1rem;
}

.close-container {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  padding: 1rem;
}

.close-pop-up {
  text-decoration: none;
  color: #000000;
}