#requestTableContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 2rem;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 600px) {
  #requestTableContainer {
    align-items: center;
  }
}

table {
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

th,
td {
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

td {
  text-align: center;
}

#headings {
  background-color: #679186;
}

button {
  font-size: 16px;
  padding: 0.5em 2em;
  border-radius: 5em;
}

.approveBtn {
  background-color: #679186;
  margin-right: 1em;
}

.rejectBtn {
  background-color: #F9B4AB;
}

.availabilityBtn {
  border: none;
  background-color: transparent;
  font-size: x-large;
  font-weight: bolder;
  cursor: pointer;
}

.availability {
  background-color: lightgrey;
}

.hiddenRow {
  display: none;
}

.visibleRow {
  display: table-row;
}

.hiddenColumn {
  display: none;
}

.visibleColumn {
  display: table-cell;
}