.Search-And-Filter {
  display: flex;
  flex-direction: column;
  width: 26rem;
  background-color: #679186;
  border-radius: 1rem;
  align-items: center;
  padding: 2rem 1rem;
  height: fit-content;
  margin-top: 2rem;
}

.Search-And-Filter h2 {
  color: #FDEBD3;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Inter";
}

.Search-And-Filter label {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter";
}

.Search-And-Filter input {
  width: 70%;
  height: 2rem;
  border: 0.5rem;
}

.add-dev-details {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: .5s;
  margin: 1rem 0rem;
}

.add-dev-details summary {
  cursor: pointer;
  margin-bottom: 1rem;
}

.add-dev-details summary>* {
  display: inline;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 1rem;
}

.filters select {
  width: 70%;
  height: 2rem;
}

#AddDevButton {
  margin: 1rem auto;
}

.inputDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 1rem;
}

.inputDetails input {
  width: 70%;
  height: 2rem;
  border-radius: 0.5rem;
}

.inputDetails select {
  width: 70%;
  height: 4rem;
}