<%- include('../partials/head', {title: 'Index'})%>

<h2><a href='/viewRequests'>View requests</a></h2>
<h2><a href='/approveRequests'>Approve requests</a></h2>
<h2><a href='/viewDevs'>Approve requests</a></h2>

<%- include('../partials/footer') %>
