
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
        "width=device-width, 
        initial-scale=1.0">
</head>
  
<body>

    <%- include('partials/navbar.ejs') %>
    <h2><a href="/viewRequests">View requests</a></h2>
    <h2><a href="/approveRequests">Approve requests</a></h2>
</body>
  
</html>

<!--  done by GRADS 202X Sars-->